<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Network Traffic Analyzer</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/static/script.js" defer></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="main-container">
    <h1>Network Traffic Analyzer</h1>
    
    <div class="dashboard">
      <div class="chart-box" id="chart-box">
        <h2>Traffic per IP</h2>
        <canvas id="trafficChart" width="400" height="300"></canvas>
      </div>
      <div class="right-panel">
        <div class="alerts-box" id="alerts-box">
          <h3>ALERTS</h3>
          <ul id="alerts"></ul>
        </div>
        <div class="new-box" id="new-box">
          <h4>LAST PACKET CAPTURE</h4>
        </div>
      </div>
    </div>
</body>
</html>